
body{
box-sizing: border-box;
margin: 0;
}

.container-for-home-page{

    background-color: rgba(90, 96, 103,0.1);
    /* width: 100%; */
    height: 100vh;
}

.navbar-container{
    
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 999999;
    padding-top: 10px;
    
}

.mealify-container{
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   color:  rgb(26, 27, 28);
   font-weight: 700;
   font-size: 30px;
}

.a-for-mealify-word{
    color:  rgb(26, 27, 28);
}
.navbar-menu{

    /* padding-left: 10px; */
    /* padding-top: 5px; */
    

}

.ul{
 list-style: none; 
 padding: 10px;  
 
 /* margin-left: 10px; */

}

.a-for-mealify-word{
    text-decoration: none;
    padding-left: 10px;

}

.a-for-mealify-word span{
    color: rgb(189, 31, 31) ;
    font-size: 30px;
}


/* .a-for-mealify-word::after{
    content: "";
    width: 7px;
    height: 7px;
    background-color: rgb(189, 31, 31) ;
    border-radius: 5px;
    position: absolute;
    top: 53px;
    left: 210px;
    
} */

.li{
    padding-bottom: 9px;
    font-family:  "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" ;
    color: black;
    font-weight: 500;
    font-size: 18px;

}

.home-word{
    text-decoration: none;
    /* margin-bottom: 10px; */
    color: black;
}

.home-word::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(189, 31, 31) ;
    position: absolute;
    top: 60px;
    left: 695px;
    transition: 0.5s;

}

.home-word:hover:after{
    width: 48px;
}

.chefs-word{
    text-decoration: none;
    /* margin-bottom: 10px; */

    color: 
    rgb(132, 132, 143);
}

.chefs-word::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: rgb(189, 31, 31) ;
    position: absolute;
    top: 60px;
    left: 770px;
    transition: 0.5s;

}

.chefs-word:hover:after{
    width: 50px;
}

.gallery-word{
    text-decoration: none;
    color: 
    rgb(132, 132, 143);
}

.gallery-word::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: rgb(189, 31, 31) ;
    position: absolute;
    top: 60px;
    left: 850px;
    transition: 0.5s;

}

.gallery-word:hover:after{
    width: 57px;
}

.contact-word{
    text-decoration: none;
    color: 
    rgb(132, 132, 143);
}

.contact-word::after{
    content: "";
    width: 0px;
    height: 2px;
    background-color: rgb(189, 31, 31) ;
    position: absolute;
    top: 60px;
    left: 940px;
    transition: 0.5s;

}

.contact-word:hover:after{
    width: 60px;
}

.home-content{

    padding-top: 130px;
}

.img-home-page{
    width: 40%;
    /* position: absolute;
    right: 20px; */
    filter: drop-shadow(4px 4px 9px #000a);
    margin-top: 20px;
}

.img-home-page:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake { 
    25% { transform: rotate(5deg);}
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.home-text{

    /* position: absolute;
    left: 80px;
    top:230px; */

}

.h2-enjoy{
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color:rgb(55, 55, 63);
    margin-bottom: 10px;

}

.p-home-page{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    color: rgb(79, 79, 90);
    margin-bottom: 10%;

}

.buttons{
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons .a{

    color: white;
    size: 17px;
    text-decoration: none;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color:rgb(206, 18, 18);

    border: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 12px 30px;

    transition: all 0.5s;

}

.a:hover{
    background-color:rgb(227, 54, 54);
}

.watch-video{
    display: flex;
    align-items: center; 
    gap: 8px;
    transition: all 0.5s;
}

.watch-video:hover{
    color: red;
}

.buttons .watch-video .icon {
    width: 40px;
    height: 40px;
    background-color: white;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    position: relative;
   
}

.buttons .watch-video .icon:after {
    content: "";
    position: absolute;
    
    /* top: 200px; */
    left: -10px;
    bottom: -10px;

    width: 45px;
    height: 45px;
    border: 8px solid;
    border-radius: 50%;
    border-color: rgb(223, 4, 4) transparent transparent rgb(223, 4, 4) ;
    rotate: -45deg ;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    /* background-image: linear-gradient(to right, #ff0000, #ffffff00); */
  
    /* z-index:-1000; */
}


.watch-video  i{

    font-size: 20px;
    color: black;
    margin-left: 14px;
    margin-top: 10px;

    /* border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
   
}

.watch-video{

    color: black;
    /* background-color: white; */
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-left: 30px;
}

.container-our-chefs{
    /* background-color: rgb(173, 130, 212); */

    padding-top: 50px;

    width: 90%;
    /* height: 650px; */
    margin: auto;

   margin-top: 50px;
   
    /* display: flex;
    justify-content: space-between; */

    position: relative;

}

.text-beg{
    text-align: center;
    padding-top: 50px;
}

.CHEFS{
    font-family: Inter, sans-serif;
    color: rgb(127, 127, 144);
    font-size: 14px;
}

.Our-Proffesional-Chefs{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
}

.Our-Proffesional-Chefs .span-proffestional{
    color: rgb(206, 18, 18);
}


.chefs-menu{
    /* background-color: aquamarine; */
    
    display: flex;
    flex-wrap: wrap;

}

.chefs-menu-item{
    background-color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);

    border-radius: 10px;
    
    transition: 1s ;

    overflow: hidden;
    position: relative;

}

.chefs-menu-item::before{
    content: "";
    position: absolute;
    top: 351px;
    background-image: url(../images/team-shape.svg);
    width: 100%;
    height: 60px;
    z-index: 555555;

}

.chefs-menu-item:hover{
    transform: scale(1.1);
}

.chefs-menu-item img{
    position: relative;
}

.social-media{

    width: 50px;
    height: 175px;
    background-color: rgb(227, 224, 224);
    color: rgb(187, 185, 185);

    border-radius: 5px;
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: -100%;
    list-style: none;
    /* text-align: center; */

    /* transform: translateX(100%); */
    
    transition: all 1s ;

    overflow: hidden;

}

.social-media a{
    color: rgb(187, 185, 185);

}

.chefs-menu-item:hover .social-media{
    right: 20px;
    /* transform: translateX(50%); */
}


.social-media .twitter{
    margin: 20px;
}
.social-media .facebook{
    margin: 20px;
}
.social-media .instgram{
    margin: 20px;
}
.social-media .linkedin{
    margin: 20px;
}

.chefs-menu-item img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 
}

.h2-item{
    font-family: Inter, sans-serif;
    color: black;
    font-weight: 700;
    font-size: 19px;
}

.span-item{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(127, 127, 144);
    font-size: 14px;
    font-weight: 400;
}

.p-item{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(127, 127, 144);
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
}

 /* .chefs-menu-item img::before{
   content: "";
   background-image: url(../images/);
   position: absolute;
    bottom: -10px;
    left: 0; 
    color : white;
   width: 100%;
    height: 100px;
   z-index: 999;
   background-repeat: no-repeat
} */


.gallery-container{
    background-color: rgba(161, 167, 173, 0.1);
    width: 90%;

    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 50px;
}

.gallery{
    font-family: Inter, sans-serif;
    color: rgb(127, 127, 144);
    font-size: 14px;
}

.check-our-gallery{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: rgb(206, 18, 18) ;
}

.check-our-gallery .span-proffestional{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;

}

.gallery-menu{
    
    /* background-color: rgba(161, 167, 173, 0.1); */

    margin: 0;

    width: 100%;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
 
}

   .column{

    width: 33%;
   
   }


.column .gallery-menu-item {

    width: 100%;
     

    border: 3px solid #ffff;

    margin: 5px;
    overflow: hidden;

    position: relative;

}

.text{
    background-color: rgb(0, 0, 0,0.7);
    color: white;

    /* text-align: center; */
    
    padding-top: 130px;

    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    transform: translateY(100%);
    transition: transform 1s;

}

.text h2{
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.text p{
    text-align: center;
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;

}

.column .gallery-menu-item:hover .text{
    transform: translateY(0);
} 

.column .gallery-menu-item:hover img {
    transform: scale(1.1);
}

.gallery-menu-item img{
    width: 100%;
    transition: transform 1s;
}

/* .gallery-menu-item img:hover{
    transform: scale(1.1);
} */


.contact-container{

 /* background-color: aquamarine; */
 width: 90%;
 height: 900px;
 /* text-align: center; */
 margin: auto;
 margin-top: 20px;
 
}

.beg-text-contact{
    /* background-color: rebeccapurple; */
    text-align: center;
    padding-top: 30px;
    margin: 40px;
}

.span-CONTACT{
    font-family: Inter, sans-serif;
    color: rgb(127, 127, 144);
    font-size: 14px;

}

.contact-need{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: rgb(206, 18, 18) ;
    margin: 0;
    
}

.contact-need .span-Need-Help{
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: black;
}

.contact-container .map iframe{
    width: 100%;
    /* margin-left: 5px; */

}

 /* .information{
    width: 90%;

     display: flex;
    flex-wrap: wrap; 
    background-color: salmon;
}

.inf-item-container{
    width: 100%;
   
}

.our-addr{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:rgb(125, 125, 125);
}

.our-addrr{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;

}


.inf-item{

    width: 200px;
  padding: 10px 5px;
  text-align: left;
  background-color: #f5f5f5;
  
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;

  width: calc(50%-20px);


    width: 100%;
    background-color: rgb(167, 83, 83);
    margin-top: 30px;

    gap: 10px;
    vertical-align:middle;
}

.inf-item i{

background-color: rgb(206, 18, 18);
width: 55px;
height: 55px;
border-radius: 90%;
margin: 20px 20px;
text-align: center;

font-size: 20px;


position: absolute;
top: 20px;
left: 20px;

line-height: 60px;
color: white;



margin-top: 10px;

}

.address-content{
    padding: 0 10px;
    flex-wrap: wrap;
}


.our-addr{
    margin: 0;
    margin-left: 90px;
    
}  */


.information{
    width: 100%;
}

.inf-item-container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.address-content h2{
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color:rgb(125, 125, 125);
}
.address-content p{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;

}

.inf-item{
  padding: 10px 5px;
  margin: 10px;
  text-align: left;
  background-color: #f5f5f5;
  width: calc(50% - 40px);

}

.inf-item i{
/* background-color: rgb(206, 18, 18); 
border-radius: 50%;
padding: 20px;
margin-right: 5px;
align-items: baseline; */

background-color: rgb(206, 18, 18);
width: 50px;
height: 50px;
border-radius: 90%;
/* margin: 20px 20px; */
text-align: center;
font-size: 20px;
/* position: absolute;
top: 20px;
left: 20px; */
line-height: 60px;
color: white;
margin-top: 10px

}

.form-container{
    background-color: white;
    width: 90%;
    margin-top: 20px;

}

 /* .form{
    padding-top: 20px;
    padding-left: 15px;
    margin-left: 80px;
}

.name{
    width: 600px;
    height: 20px;
    border-radius: 2px white ;
    margin-right: 15px;
    
    padding: 15px 15px;
    
   
}

.email{
    width: 600px;
    height: 20px;
    border-radius: 2px white;
    padding: 15px 15px;
    margin-right: 15px;
    
}

.subject{
    width: 1250px;
    height: 20px;
    border-radius: 2px white;
    padding: 15px 15px;
    margin-bottom: 20px;
}

.message{
    font-family: Roboto, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 2px white;

  width: 1260px;
  height: 120px;

  padding: 12px;
  margin-bottom: 20px;
}

.submit{
    color: white;
    background-color: rgb(206, 18, 18);
   
    font-weight: 400;
    font-size: 16px;
    width: 190px;
    height: 50px;
    border-radius: 30px ;
    border: none;

    margin-left: 500px;
  
}  */

.form{

    padding-top: 20px;
    margin-left: 80px;

}

.name{
    width: 580px;
    height: 20px;
    border-radius: 2px white ;
    margin-right: 15px;
    
    padding: 15px 15px;
    
    border-color: rgb(229, 228, 228) ;
    
}

.email{
    width: 600px;
    height: 20px;
    border-radius: 10px white;
    padding: 15px 15px;
    margin-right: 15px;
    border-color: rgb(229, 228, 228) ;
}

.subject{
    width: 1235px;
    height: 20px;
    border-radius: 2px white;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-color: rgb(229, 228, 228) ;
}

.message{
    font-family: Roboto, sans-serif;
  color: rgb(0, 0, 0);
  border-radius: 2px white;

  width: 1245px;
  height: 120px;

  padding: 12px;
  margin-bottom: 20px;
  border-color: rgb(229, 228, 228) ;
}

.submit{
    color: white;
    background-color: rgb(206, 18, 18);
   
    font-weight: 400;
    font-size: 16px;
    width: 190px;
    height: 50px;
    border-radius: 30px ;
    border: none;

    margin-left: 500px;
  
}

.footer{

    background-image: url(../images/black-background-geometrical-modern-design-vector-25325508.jpg);
    background-size: cover;
    width: 100%;
    margin-top: 60px;

    display: flex;
    flex-wrap: wrap;


}


.mealify-section{

    width: 20%;
    color: white;
   margin-left: 20px;

   padding-right: 0;

}

.mealify-section img{
    margin-top: 50px;

}

.mealify-wordd{
   margin-left: 60px;
   margin-top: -45px;
   font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
   font-weight: 700;
   font-size: 30px;


}

.mealify-wordd span{
    color: rgb(206, 18, 18) ;
}


.p-mealify-section{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;
 

}

.social-container{
    margin-left: 100px;
    
}


.h2-social-media{
    margin-left: -10px;
}

.line{
   
    border-bottom: solid rgb(79, 79, 90);
    width: 300px;
    
    margin-left: -100px;
    margin-bottom: 20px;
    margin-top: 1px;

}

.social-icon{
    margin-left: -60px;
}

.social-icon i{
    margin-right: 30px;
    font-size: 30px;
    color: white;
    
}

.Subscribe-our-Newsletter-container{
color: white;
margin-left: -50px;
margin-top: 40px;


}

.Subscribe-our-Newsletter-word{
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.dont-miss{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;
}

.emaill{
    /* width: 400px;
    height: 10px; */
    width: 300px;
    height: 40px;
    border-radius: 2px white;
    /* padding: 15px 15px;
    margin-right: 15px; */
}

.submitt{
    color: white;
    background-color: rgb(206, 18, 18);
    font-weight: 400;
    font-size: 16px;
    width: 130px;
    height: 43px;
    border: none;
    
}

.h2-Quick-Links{
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

ul{
    padding: 0;
}

ul .pre a{
  
    text-decoration: none;
    color: white;
    font-size: 17px;

    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;

}

.Get-in-Touch-container{
    margin-left: 30px;
    color: white;
    margin-top: 40px;
}

.h2-Get-in-Touch-word{
    font-family: Inter, sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.Get-in-Touch-container i{
    color: rgb(206, 18, 18) ;
    font-size: 25px;
}


.Get-in-Touch-container p{
    margin-left: 40px;
    margin-top: -20px;

    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 400;
    font-size: 16px;
    
}


@media (max-width:768px) {


    .navbar-menu ul{
        position: absolute;
        top: 70px;
        right: 0;
        left: 0;
        flex-direction: column;
        text-align: center;
        background-color: beige;
        display: none;
    }


    .navbar-menu .bar {
        width: 40%;
     
    }

    .navbar-menu .bar i{

       font-size: 30px;
        margin-left: 410px;
        margin-bottom: 0px;

    }

    .mealify-container {

        width: 40%;
    }


 .container-for-home-page {

    height: 100%;
    text-align: center;
    
   /* display: flex;
   
   align-items: center; */
   
 }


 .home-content .img-home-page {
    width: 100%;

 }

 .buttons{
    margin-left: 20%;
    margin-top: 20px;
 }

 .chefs-menu-item::before{
    top: 380px;
 }

.gallery-menu-item{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 98%;
}


 .contact-container{
    width: 100%;
    height: 1150px;
 }

 .inf-item-container{
    width: 100%;

    
 }

 .inf-item-container .inf-item{
    width: 100%;
 }

 .contact-container .map iframe{
    width: 95%;
    margin-left: 10px;
 }


 .form-container{
    width: 100%;

    padding-top: 220px;

    /* display: flex;
    flex-direction: column ; */
    
 }

.form-container .form .name{
    width: 95%;
    margin-left: -40px;
    margin-bottom: 15px;

 }


 .form-container .form .email{
    width: 95%;
    margin-left: -40px;

 }

 .form-container .form .subject{
    width: 95%;
    margin-left: -40px;

 }

 .form-container .form .message{
    width: 98%;
    margin-left: -40px;

 }

 .form-container .form .submit{
    width: 50%;
    text-align: center;
    margin-left: 100px;


 } 

  /* .name{
    width: 120%;
} */



.footer{
    width: 100%;
    display: flex;
    flex-flow: column ;
}

.mealify-section{
    width: 90%;
    margin-left: 50px;
}

.Subscribe-our-Newsletter-container{
    width: 90%;
    margin-left: 40px;
}

.Get-in-Touch-container {
    width: 90%;
}

}




@media (min-width:769px) {

.navbar-container{

    display: flex;

    justify-content: space-between;
   
   /* justify-content: baseline; */

   height: 60px;
  
   padding-bottom: 20px;
    
}

.navbar-container .ul{

    display: flex;
    gap: 30px;
 

    
}

.moon{

   padding-left: 400px;
   padding-right:60px;
   font-size: 25px;

}

.bar{
    padding-right: 40px;
    font-size: 20px;
    display: none;
}


.mealify-container{

    margin-left: 90px;
    margin-top: 18px;
  
    
}



.container-for-home-page {
    /* display: flex;
    
    align-items: center; */
    
 }
 
 .container-for-home-page .home-content .img-home-page {

     position: absolute;
     right: 20px;
     top:120px;

     width: 40%;

 
 }
 
 .container-for-home-page .home-content .home-text {
 
 position: absolute;
 left: 80px;
 top: 200px;
 
     
 }



 .chefs-menu .chefs-menu-item{
    width: 30%;

 }

 .gallery-container{

    /* width: 100%; */
    /* background-color: blue; */
    /* display: flex; */
 }

 

 /* .gallery-menu{

    width: 90%;
   margin: auto;
   display: flex;

 } */

.gallery-menu-item{
    /* width: 30%; */
    /* display: flex; */

}

 .gallery-menu-item .img1{
    order: 1;
 }

 .gallery-menu-item .img4{
    order: 1;
 }
 .gallery-menu-item .img2{
    order: 2;
 }
 .gallery-menu-item .img7{
    order: 2;
 }
 .gallery-menu-item .img3{
    order: 5;
 }
 .gallery-menu-item .img5{
    order: 5;
 }
 .gallery-menu-item .img6{
    order: 5;
 }

 .inf-item-container{
    /* display: flex;
    flex-wrap: wrap; */
 }
 
 .inf-item{
    display: flex;
    flex-wrap: wrap;
 }


}
